body {
  font-size: 18px;
  font-family: "Bai Jamjuree", Arial, Helvetica, sans-serif;
  text-align: center;
  color: #4c545d;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  margin: 0 8%;
}

/* DOWNLOAD */
.download__button {
  width: 100%;
  color: #fff;
  font-size: 1rem;
  padding: 5% 0;
  margin: 3% 0;
  border: none;
  border-radius: 30px;
}

.download__button--ios{
    background-color: #26baa4;
    box-shadow: 0px 3px 3px #049882;
}

.download__button--mac{
    background-color: #6173ff;
    box-shadow: 0px 3px 3px #4051dd;
}

/* FOOTER */
.footer {
  background-color: #f5f6f8;
  padding: 10% 0;
  margin-top: 40%;
}

.footer__logo {
  width: 60px;
}

.footer__link {
  font-size: 1.4rem;
  color: #4c545d;
  text-decoration: none;
}

.footer__list-item {
  padding: 5% 0;
}

.footer__icon-list {
  display: flex;
  justify-content: space-around;
  padding: 0 20%;
}

/* ATTRIBUTION */
.attribution {
  width: 100vw;
  font-size: 11px;
  margin: 0;
  background-color: #444;
  color: #ccc;
  padding: 5px 0;
}

.attribution__link {
  color: #00b688;
}
